<div class="container">
  <div class="row">
    <span class="col-xs-3" class="title">Rednine 9</span>
    <span class="col-xs-6"> </span>
    <span class="col-xs-1"><%= link_to 'My page', user_path(current_user.id) %></span>
    <span class="col-xs-1"><%= link_to 'Admin', admin_users_path(current_user.id) %></span>
      <span class="col-xs-1">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
        <% if logged_in? %>
          <%= link_to image_tag('logout.png', size: '30x30'), session_path(current_user.id), method: :delete %>
        <% else %>
        <% end %>
    </span>
  </div>
<h4>タスク一覧</h4>

<p><%= notice %></p>

<%= form_with url:'/tasks', method: :get, local: true do |f| %>
  <%= f.label :title_key, '題名' %>
  <%= f.text_field :title_key, :placeholder => "検索…", class: "title_serch" %>
  <%= f.label :status, 'ステータス' %>
  <%= f.select :status, [['未選択', '未選択'], ['未着手', '未着手'], ['着手中', '着手中'], ['完了', '完了']], {}, {class: 'status_serch'} %>
  <%= f.submit '検索', class: "btn_search" %>
  <button type="button" class="btn-secondary"><%= link_to 'リセット', tasks_path %></button>
<% end %>
<br>
<button type="button" class="btn-outline-danger"><%= link_to '新規作成', new_task_path %></button>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th class="box_short">#</th>
      <!-- <th>ラベル</th> -->
      <th class="box_short">ステータス</th>
      <th class="box_short"><%= link_to "優先順位", tasks_path(sort_priority: "true") %></th>
      <th class="box_title">題名</th>
      <th class="box_clamp">説明</th>
      <th class="box_short"><%= link_to "終了期限", tasks_path(sort_expired: "true") %></th>
      <th class="box_short">作成者</th>
      <th class="box_short">作成日</th>
      <th class="box_short">更新日</th>
    </tr>

    <tr>
    <% @tasks.each do |task| %>
      <td class="box_harf"><%= task.id %></td>
      <!-- <td>ラベル</td> -->
      <td class="box_short"><%= task.status %></td>
      <td class="box_short"><%= task.priority %></td>
      <td class="task_row"><%= task.title %></td>
      <td class="line_clamp"><%= task.detail %></td>
      <td class="box_short"><%= task.expired_at %></td>
      <td class="box_short"><%= task.user.name %></td>
      <td class="box_short"><%= task.created_at %></td>
      <td class="box_short"><%= task.updated_at %></td>
      <td class="small_box">

        <% if task.user_id == current_user.id %>
          <a><font size="1"><%= link_to '詳細', task_path(task.id) %></font></a>
          <a><%= link_to image_tag('delete.png', size: '15x15'), task_path(task.id), method: :delete,data: { confirm: '削除しますか？' } %></a>
        <% else %>
        <% end %>

      </td>
    </tr>
    <% end %>
    <%= paginate @tasks %>
  </thead>
</table>
