<p>
  <font size="7">#:<%= @task.id %></font>
  <a class="box_harf"><%= link_to image_tag('edit.png', size: '20x20'), edit_task_path %></a>
</p>

<div>
  <div class="container">
    <p>
      <span class="label">題名：</span>
      <span><%= @task.title %></span>
    </p>
    <p>
      <!-- <span class="label">ラベル:</span> -->
      <span class="label">ステータス:</span>
      <span><%= @task.status %></span>
    </p>
    <p>
      <span class="label">優先順位:</span>
      <span><%= @task.priority %></span>
      <span class="label">終了期限:</span>
      <span><%= @task.expired_at.strftime('%Y/%m/%d') %></span>
    </p>
    <p>
      <span class="label">作成日:</span>
      <span><%= @task.created_at.strftime('%Y/%m/%d') %></span>
      <span class="label">更新日:</span>
      <span><%= @task.updated_at.strftime('%Y/%m/%d') %></span>
    </p>
    <p>
      <span class="label">作成者:</span>
    </p>

    <span>――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――<span>
    <br>
    <span class="content">説明:</span>
    <br>
    <span class="content"><%= @task.detail %></span>
  </div>
</div>

<span class="content"><%= link_to "back", tasks_path %></span>
